# Node.js and NPM
node_modules/
npm-debug.log

# Backend
backend/node_modules/
backend/.env

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
